<div class="container-fluid" style="margin-top: 20px;"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="CategoriesFragment">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-md-offset-3">
            <div class="card">
                <div class="card-header">
                    My Categories
                </div>
                <div class="card-body" th:if="${not#lists.isEmpty(categories)}">
                    <table class="table">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Category</th>
                            <th scope="col">View</th>
                        </tr>
                        <tr th:each="category:${categories}">
                            <td><p th:text="${category.id}"></p></td>
                            <td><p th:text="${category.description}"></p></td>
                            <td><a href="#" th:href="@{'/category/show/'+${category.id}}">View</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>