<div class="container-fluid" style="margin-top: 20px;"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="CategoriesFragment">
    <div class="row d-flex justify-content-center p-3">
        <div class="col-3 list-group" style="border-radius: 0" id="list-tab" role="list"
             th:if="${not#lists.isEmpty(categories)}">
            <a class="list-group-item list-group-item-action p-4 text-center"
               th:each="category:${categories}"
               th:attr="data-category=${category.id}"
               th:text="${category.description}"
               data-bs-toggle="list"
               role="button"
               onclick="$('#categoryTabContent').load('/showCategory/'+this.getAttribute('data-category'));"></a>
        </div>
        <div class="col-9" id="categoryTabContent">

        </div>
    </div>
</div>