<div class="justify-content-center" xmlns:th="http://www.thymeleaf.org" th:fragment="AddRecipeFragment">
        <div class="card">
            <div class="card-header">
                <label>
                    Description:
                    <input type="text">
                </label>
            </div>
            <div class="card-body container-fluid">
                <div class="row">
                    <div class="col container-fluid">
                        <div class="row">
                            <div class="col fw-bold"><p>Categories:</p></div>

                        </div>
                        <div class="row">
                            <label>
                                Preparation Time:
                                <input type="text">
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                Cook Time:
                                <input type="text">
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                Difficulty:
                                <input type="text">
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                Servings:
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <div class="col">

                        <p><img src="../../static/images/camera.svg" th:src="@{/images/camera.svg}" th:width="300"
                                th:height="300" alt="image"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header"><h1>Ingredients</h1></div>
            <div class="card-body">

            </div>
        </div>
        <div class="card">
            <div class="card-header"><h1>Directions</h1></div>
            <div class="card-body">

            </div>
        </div>
        <div class="card">
            <div class="card-header"><h1>Notes</h1></div>
            <div class="card-body">
                <label> notes:
                    <textarea></textarea>
                </label>
            </div>
        </div>
</div>
