<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <script>
        $(document).ready(function () {
            $("#recipesContainer").load('/recipes/search');
        });
    </script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px;" th:fragment="RecipesMainFragment">
    <div class="row justify-content-center">
        <div class="col-lg-2 col-sm-12 p-1">
            <div class="btn-group d-table m-auto" role="group" aria-label="Basic radio toggle button group">
                <!-- apply different styles to the label-->

                <input type="radio" class="btn-check" name="btnradio" id="btnSearch"
                       onclick="getContent($('#recipesContainer'),'/recipes/search')" autocomplete="off" checked>
                <label class="btn btn-outline-dark btn-side-menu" for="btnSearch">
                    <i class="btn-label fa fa-search d-table-cell"></i>
                    <i class="d-table-cell">Search Recipes</i>
                </label>

                <input type="radio" class="btn-check" name="btnradio" id="btnAddNew"
                       onclick="getContent($('#recipesContainer'),'/recipes/create')" autocomplete="off">
                <label class="btn btn-outline-dark btn-side-menu" for="btnAddNew">
                    <i class="btn-label fa fa-plus-circle d-table-cell"></i>
                    <i class="d-table-cell">Add New Recipe</i>
                </label>

                <input type="radio" class="btn-check" name="btnradio" id="btnImport"
                       onclick="getContent($('#recipesContainer'),'/recipes/import')" autocomplete="off">
                <label class="btn btn-outline-dark btn-side-menu" for="btnImport">
                    <i class="btn-label fa fa-file-import d-table-cell"></i>
                    <i class="d-table-cell">Import Recipes</i>
                </label>
            </div>
        </div>
        <div id="recipesContainer" class="col-lg-10 col-sm-12 p-1"></div>
    </div>
</div>

</body>
</html>