<div style="margin-top: 20px;"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="RecipesMainFragment"
     class="row justify-content-center h-100">
    <div class="col-sm-12 col-lg-2  p-1">
        <div class="list-group d-table m-auto text-center bg-light" role="list">
            <!-- apply different styles to the label-->
            <a id="btnSearch" role="button" data-bs-toggle="list"
               class="btn col-lg-12 col-md-4 col-sm-4 col-4 btn-outline-dark btn-side-menu active"
               onclick="getContent($('#recipesContainer'),'/searchRecipes')">
                <i class="btn-label fa fa-search d-table-cell"></i>
                <i class="d-table-cell">Search Recipes</i>
            </a>

            <a id="btnAddNew" role="button" data-bs-toggle="list"
               class="btn col-lg-12 col-md-4 col-sm-4 col-4 btn-outline-dark btn-side-menu"
               onclick="getContent($('#recipesContainer'),'/createRecipe')">
                <i class="btn-label fa fa-plus-circle d-table-cell"></i>
                <i class="d-table-cell">Add New Recipe</i>
            </a>

            <a id="btnImport" role="button" data-bs-toggle="list"
               class="btn col-lg-12 col-md-4 col-sm-4 col-4 btn-outline-dark btn-side-menu"
               onclick="getContent($('#recipesContainer'),'/importRecipes')">
                <i class="btn-label fa fa-file-import d-table-cell"></i>
                <i class="d-table-cell">Import Recipes</i>
            </a>
        </div>
    </div>
    <div id="recipesContainer" class="col-sm-12 col-lg-10 " style="padding: .25rem!important;">
        <div th:replace="/recipes/searchRecipes::RecipesSearchFragment"></div>
    </div>
</div>
