<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="RecipesSearchFragment"
     class="h-100 p-1 bg-light"
     style="min-height:100vh">
    <div class="row">
        <div class="col-3">
            <form class="d-flex mb-2">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark" type="submit"><i class="fa fa-search p-1"></i></button>
            </form>
            <div class="list-group" id="list-tab" role="list">
                <a class="list-group-item list-group-item-action"
                   th:if="${not#lists.isEmpty(recipes)}"
                   th:each="recipe:${recipes}"
                   th:attr="data-recipe=${recipe.id}"
                   th:text="${recipe.title}"
                   data-bs-toggle="list"
                   role="button"
                   onclick="$('#recipeTabContent').load('/showRecipe/'+this.getAttribute('data-recipe'));"></a>
            </div>
        </div>

        <div class="col-9" id="recipeTabContent">
        </div>
    </div>
</div>