<div xmlns:th="http://www.thymeleaf.org">
    <div class="card">
        <div class="card-header" style="text-align-last: justify">
            <h1 class="d-inline-block" th:text="${recipe.title}"></h1>
            <section class="d-inline-block">
                <button class="btn btn-secondary" id="btnEdit"
                        th:attr="data-recipe=${recipe.id}"
                        onclick="$('#recipeTabContent').load('/updateRecipe/'+this.getAttribute('data-recipe'))">

                    <i class="fa fa-edit d-table-cell"></i>
                    <i class="d-table-cell">Edit</i>
                </button>

                <button class="btn btn-danger"
                        th:id="${recipe.id}"
                        onclick="confirmDialog(
                                 'DELETE',
                                 '/deleteRecipe/'+this.id,
                                 function() {getContent($('#container'),'/recipes')})"
                        data-bs-toggle="modal" data-bs-target="#myModal">
                    <i class="fa fa-trash d-table-cell"></i>
                    <i class="d-table-cell">Delete</i>
                </button>
            </section>

        </div>
        <div class="card-body container-fluid row">
            <div class="col">
                <div class="row">
                    <div class="col fw-bold"><p>Categories:</p></div>
                    <div class="col-md-9">
                        <ul>
                            <li th:if="*{not#lists.isEmpty(recipe.categories)}"
                                th:each="category:${recipe.categories}"
                                th:text="${category.description}"></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <p>
                        <span class="fw-bold">Preparation Time:</span>
                        <span th:text="${recipe.prepTime}"></span>
                    </p>
                </div>
                <div class="row">
                    <p>
                        <span class="fw-bold">Cooking Time:</span>
                        <span th:text="${recipe.cookTime}"></span>
                    </p>
                </div>
                <div class="row">
                    <p>
                        <span class="fw-bold">Difficulty:</span>
                        <span th:text="${recipe.difficulty}"></span>
                    </p>
                </div>
                <div class="row">
                    <p>
                        <span class="fw-bold">Servings:</span>
                        <span th:text="${recipe.servings}"></span>
                    </p>
                </div>
            </div>
            <div class="col text-center">
                <p th:switch="${recipe.image}">
                    <img class="img-fluid"
                         th:case="null"
                         th:src="@{/images/camera.svg}"
                         th:width="300"
                         th:height="300" alt="image">
                    <img class="img-fluid"
                         th:case="*"
                         th:src="@{${recipe.image}}"
                         th:width="300"
                         th:height="300" alt="image">
                    <!-- th:src="@{'data:image/png;base64,'+${recipe.image}}" -->
                </p>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-header"><h1>Ingredients</h1></div>
        <div class="card-body">
            <ul>
                <li th:if="*{not#lists.isEmpty(recipe.ingredients)}"
                    th:each="ingredient:${recipe.ingredients}"
                    th:text="${ingredient.amount}+' '+${ingredient.unitMeasure?.description}+' '+${ingredient?.description}"></li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header"><h1>Directions</h1></div>
        <div class="card-body">
            <p th:text="${recipe.directions}"></p>
        </div>
    </div>
    <div class="card">
        <div class="card-header"><h1>Notes</h1></div>
        <div class="card-body">
            <p th:text="${recipe.notes?.description}"></p>
        </div>
    </div>
</div>