<!-- Category Detail Modal Fragment -->
<div class="modal fade" id="categoryDetailModal" tabindex="-1" th:fragment="categoryDetailModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="categoryTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="categoryDetailBody">
                <!-- Category details will be loaded here -->
            </div>
            <div class="modal-footer" id="categoryDetailFooter">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

