.navbar-dark .nav-item > .nav-link.active {
    color: white;
}

.btn-label {
    padding: 20px;
    background: rgba(0, 0, 0, 0.15);

}
/*
.fa, .fas{
    margin: auto;
}
*/
.d-table-cell{
    vertical-align: middle;
}
.btn-side-menu{
    padding: 0;
    border-radius: 0;
    width: 150px;
}
i{
    font-style: inherit;
}
.list-group-item{
    font-size: 2vmin;
}
