body {
    position: relative;
    background: #ff5f6d;
    background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    min-height: 100vh;
    /*height: 95vh;*/
    /*min-height: 100% !important;*/
}
a{
    text-decoration: underline;
}

.btn-side-menu.active .fa{
    color: #ffc371;
}
.btn-side-menu .fa{
    color:#212529;
}
.fa,.fab{
    color:  #ffc371;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}

.card {
    border-radius: 0;
}

.card-header {
    border-radius: 0;
}

.list-group-item {
    cursor: default;
}

.list-group-item-action {
    cursor: default;
}

.invalid-tooltip {
    display: flex;
    top: auto;
}

textarea[readonly] {
    border: 0;
    background-color: inherit;
    resize: none;
}

.card-header:first-child {
    border-radius: 0;
}

.navbar-dark .nav-item > .nav-link.active {
    color: white;
}

.btn-label {
    padding: 20px;
    background: rgba(0, 0, 0, 0.15);

}

/*
.fa, .fas{
    margin: auto;
}
*/
.d-table-cell {
    vertical-align: middle;
}

.btn-side-menu {
    padding: 0;
    border-radius: 0;
}

i {
    font-style: inherit;
}

.list-group-item {
    font-size: 2vmin;
}

/* from w3 school */

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}

.autocomplete-items {
    position: absolute;
    padding: 0;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    left: 20px;
    right: 0;
}

.autocomplete-items a {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items a:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
