<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        th, td {
            border: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-md-offset-3">
            <div class="card">
                <div class="card-header">
                    My Recipes!
                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not#lists.isEmpty(recipes)}">

                        <table>
                            <tr>
                                <th>Recipe</th>
                                <th>Directions</th>
                                <th>Notes</th>
                                <th>Ingredients</th>
                            </tr>
                            <tr th:each="recipe:${recipes}">
                                <td>
                                    <p th:text="${recipe.title}"></p>
                                    <p th:text="${recipe.difficulty}"></p>
                                    <p th:text="${recipe.prepTime}"></p>
                                    <p th:text="${recipe.cookTime}"></p>
                                    <p >Category:</p>
                                    <ul>
                                        <li th:each="category:${recipe.categories}"
                                            th:text="${category.description}"></li>
                                    </ul>
                                    <p><img th:src="@{'data:image/png;base64,'+${recipe.image}}" th:width="100"
                                            th:height="100" alt="image"></p>
                                </td>
                                <td th:text="${recipe.directions}"></td>
                                <td th:text="${recipe.notes.description}"></td>
                                <td>
                                    <ul>
                                        <li th:each="ingredient:${recipe.ingredients}"
                                            th:text="${ingredient.amount}+' '+${ingredient.unitOfMeasure.description}+' '+${ingredient.description}"></li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


</body>
</html>