<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/5.0.0-beta1/css/bootstrap.min.css}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            crossorigin="anonymous"
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/5.0.0-beta1/js/bootstrap.bundle.js}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          rel="stylesheet"
          crossorigin="anonymous"
          th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}">
    <link href="../static/css/style1.css" rel="stylesheet"
          th:href="@{/css/style1.css}">
    <script>
        $(document).ready(function () {
            $("#container").load('/home');
            $('.navbar-nav .nav-link').click(function(){
                $('.navbar-nav .nav-link').removeClass('active');
                $(this).addClass('active');
            })
        });

        function getContent(id,url) {
            $(id).load(url);
            let navbar=$("#navbarResponsive");
            if (navbar.hasClass('show')){
                $('#btnNavbar').click();
                //navbar.area_expanded=false;
                //navbar.addClass('collapsing');
                //navbar.removeClass('show');
            }
        }

        function resizeTextarea (id) {
            let a = document.getElementById(id);
            a.style.height = 'auto';
            a.style.height = a.scrollHeight+'px';
        }

        function init() {
            let a = document.getElementsByTagName('textarea');
            for(let i=0,inb=a.length;i<inb;i++) {
                if(a[i].getAttribute('data-resizable')==='true')
                    resizeTextarea(a[i].id);
            }
        }

        addEventListener('DOMContentLoaded', init);

    </script>

</head>
<body style="background-color: antiquewhite">
<div class="container-fluid">
    <div id="modalOverlay"></div>
    <header class="row bg-dark">
        <section class="col text-start align-self-center p-1">
            <img src="../static/images/logo.svg" th:src="@{/images/logo.svg}" alt="logo">
        </section>

        <section class="col text-end align-self-center p-1">
            <button class="btn btn-outline-light" href="#" th:text="#{loginOrRegister}"></button>
        </section>
    </header>
    <nav class="row navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:text="#{menu}"></a>
            <button class="navbar-toggler collapsed" type="button" id="btnNavbar"
                    data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" role="button"
                           onclick="getContent($('#container'),'/home')" th:text="#{home}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="button" th:text="#{categories}" onclick="getContent($('#container'),'/categories')"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="button" th:text="#{recipes}" onclick="getContent($('#container'),'/recipes')"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="button" th:text="#{about}"></a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit" th:text="#{search}"></button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Here, we'll play with the content-->
    <div class="row" id="container"></div>

</div>


</body>
</html>